.container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column ;
    gap: 140px;
    margin-top: 40px;
}
.container1 > .ImageSignUpPage > img {
    width: 300px;
    height: 300px;
}