.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #b7e4c7;
  position: fixed;
  height: 100vh;
  overflow: auto;
  font-size: 18px;
  border-right: 2px #577e6e;
  box-shadow: -2px 4px 11px 3px #46534e;

}

.sidebar a {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  padding: 16px;
  text-decoration: none;
}



.sidebar a:hover:not(.active) {
  background-color: #74c69d;
  color: antiquewhite;
  border-radius: 5px;
}

.sidebar a svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.sidebar a span {
  margin-left: 5px;
}

.clicked {
  border-radius: 5px;
  background-color: #577e6e;
  display: flex;
  align-items: center;
}