
.main-btns {
    display: flex;
    align-items: center;
    width: 50rem;
    max-width: 30rem;
}
.btn{
    background-color:#74C69D ;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
}
.btn:hover{
    background-color:#1B4332 ;

}
.type{
    font-size: small;
    color: #bfd5c2;
    text-shadow: 1px 1px 1px #ccded2;
}