.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 1rem auto;
  padding: 30px;
  background-color: #D8F3DC;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

.form>.box {
  display: flex;
  justify-content: space-between;
}



.form>.box>.sub-box>.form-label {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 18px;
}

.form>.box>.sub-box .form-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #74C69D;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}





.form>.box>.sub-box .form-input:focus {
  outline: none;
  background-color:#ffffff ;
  
  box-shadow: 0 0 4px #74C69D;
}


.form>.form-button:hover {
  background-color: #2D6A4F;
}

.form>.form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-option-input {
  margin-right: 5px;
}

.form-option-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #333;
}

.form-option-marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #74C69D;
  margin-right: 8px;
}
.form>.form-button {
  padding: 12px;
  background-color:#74C69D ;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}