/* Import Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.css';

/* Customize styles for your quiz app */
.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.student-input {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.quiz-container h2 {
  text-align: center;
}

.quiz-container h3 {
  margin-top: 20px;
  text-align: center;
}

.quiz-container ul {
  list-style-type: none;
  padding: 0;
}

.quiz-container ul li {
  margin-bottom: 10px;
}

.quiz-container ul li label {
  cursor: pointer;
  margin-right: 2rem;
}

.quiz-container ul li input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.5);
  margin-right: 10px;
}

.quiz-container .selected-option {
  background-color: rgb(219, 210, 210);
}

/* Style for disabled button */
.pre-next {
  display: flex;
  justify-content: space-between;
}

.project-name {
  text-align: center;
}

.quiz-btn,
.clc>button {
  margin-top: 20px;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background-color: #74C69D;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #2D6A4F;
  box-shadow: 2px 1px 3px 0px #2D6A4F;
  width: 150px;
  border: none;
  text-align: center;

}

a:hover {
  color: aliceblue;
}

.link {
  display: flex;
  justify-content: right;
  padding-right: 2rem;
}

.quiz-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.question-text {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .quiz-question {
    flex-direction: column;
    align-items: flex-start;
  }

  .question-text {
    margin-top: 5px;
    /* Adjust the margin as needed */
    margin-left: 0;
  }
}

.quiz-container button:hover {
  background-color: #43584f;
  box-shadow: 2px 1px 3px 0px #2D6A4F;
}

.quiz-container .score {
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

.note {
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-container {
  margin: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.form-container input[type="text"],
.form-container input[type="number"] {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
}

.quiz-container input[type="text"] {
  padding: 40px;
}

.form-container input[type="number"]::-webkit-inner-spin-button,
.form-container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.form-container li input[type="text"] {
  width: 50%;
  padding: 5px;
  margin-bottom: 5px;
}


.form-container .form-btn {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 16px;
}

.form-container .form-btn:first-child {
  margin-right: 0;
}

.form-container {
  background-color: #f5ecec;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 6px 5px 9px 0px #938486;
}
.small{
  color: #337d5c;
  font-size: small;
  font-weight: bold;
}