.container {
    padding: 5rem;
    font-size: larger;
    font-weight: bolder;
}

.groups {
     font-size: larger;
     font-weight: bolder;
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     /* background-color: pink; */
 }
 .g{
    text-align: center;
    color: #2D6A4F;
   text-shadow: 1px 1px 1px #081C15;

 }