.nav-bar {
    background-color: #40916c;
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 4px 7px 0px rgb(201, 197, 197);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red;    */

}
.nav-bar>
.Nav {
    color: #FFFFFF;
    font-weight: bolder;
    cursor: pointer;
    padding-left: 2rem;
}

.Side :nth-child(1) {
    z-index: 2;
}

.navigate-btn{
    display: flex;

    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
}



.paddingLeft {
    padding-left: 2rem;
}
.nav-button {
    padding: 5px 5px;
    margin-left: 20px;
    background-color: #b7e4c7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
  }
  
  .nav-button:hover {
    background-color: #74c69d;
    color: antiquewhite;
    border-radius: 5px;
  }
  .paddingLeft{
        padding-left: 2rem;
  }